@import "bourbon/bourbon"

$accent: #FFC629
$blue: #061B38

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: 'Montserrat'
	font-style: normal
	font-weight: 400
	font-size: 16px
	line-height: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
ul,a,h1,h2,h3,h4,h5,li,p
	margin: 0
	padding: 0
a
	color: #061B38
	transition: all .3s ease
	&:hover, &:focus
		color: #FFFFFF
		text-decoration: none
ul
	list-style: none
h1, .title-head
	font-family: Oswald
	font-size: 96px
	font-weight: 400
	line-height: 110px
	letter-spacing: 0em
	text-align: left
	color: #FFC629
h2
	font-family: Oswald
	font-size: 36px
	font-weight: 400
	line-height: 53px
	letter-spacing: 0em
	text-align: left
h3
	font-family: Montserrat
	font-size: 36px
	font-weight: 700
	line-height: 44px
	letter-spacing: 0em
	text-align: left
.btn
	&.circle
		position: relative
		text-align: center
		&::after
			content: ''
			position: absolute
			border: 5px solid $blue
			width: 300px
			height: 300px
			left: 0
			top: 0
			margin-top: -150px
			border-radius: 50%

.wrapper
	.header
		background-color: #FFC629
		.header_container
			margin: 0 50px
			.header_inner
				display: flex
				align-items: center
				justify-content: space-between
				padding: 6px 0
				position: relative
				.header_menu
					display: flex
					&>li
						a
							font-family: 'Oswald'
							font-style: normal
							font-weight: 400
							font-size: 24.1546px
							line-height: 36px
							margin: 0 28px
						&.active>ul 
							display: block

							
						&>ul
							display: none
							position: absolute
							background-color: #FFFFFF
							top: 100%
							max-width: 297px
							width: 100%
							z-index: 99

							&>li
								cursor: pointer
								&:hover
									background-color: #FFC629
									&>a 
										color: white

				.header_contact
					display: flex
					a
						position: relative
						font-family: 'Montserrat'
						font-style: normal
						font-weight: 500
						font-size: 18.1271px
						line-height: 22px
						margin: 0 17.5px
						img
							margin-right: 13px
				.header_networks
					a
						margin: 0 23px
	.banner
		.owl-carousel
			.item
				img
					border-radius: 0 0 0 150px
				
				&::before
						background: rgba(0, 0, 0, 0.33)    					
						background-repeat: no-repeat    					
						background-position: center center    					
						background-size: cover    					
						content: ""    					
						display: block    					
						width: 100%    					
						height: 100%    					
						position: absolute
				.banner_articles
					position: absolute
					z-index: 99
					width: -webkit-fill-available
					top: 0
					padding: 12% 11% 0 11%
					.banner_article_left
						h1
							font-family: 'Oswald'
							font-style: normal
							font-weight: 400
							font-size: 96px
							line-height: 114.7%
							color: #FFFFFF
							margin:  0 0 17px 0
						ul
							list-style: disc
							padding: 0 0 0 26px
							font-family: 'Montserrat'
							font-style: normal
							font-weight: 500
							font-size: 24.1546px
							line-height: 194.9%
							color: #FFFFFF
					.banner_articles_call_back
						position: relative
						h3
							font-family: 'Montserrat'
							font-style: normal
							font-weight: 700
							font-size: 36px
							line-height: 44px
							color: #FFFFFF
						.call_back
							position: absolute
							right: 0
							top: -200%
							.call_back_button
								font-family: 'Oswald'
								font-style: normal
								font-weight: 400
								font-size: 50px
								line-height: 115.7%
								text-align: center
								text-transform: uppercase
								color: #FFFFFF
								background: transparent
								border: 5.93633px solid #FFFFFF
								border-radius: 50%
								width: 367px
								height: 367px
								cursor: pointer
								&:hover
									&::before
										content: ""
										position: absolute
										width: 220px
										height: 40px
										background-image: url('../img/call_back_arrow.png')
										background-repeat: no-repeat
										left: -70%
										top: 45%


			.owl-dots
				position: absolute
				top:90%
				left: 45%
				right: 45%
				display: flex
				align-items: center
				justify-content: center
				.owl-dot
					display: flex
					align-content: center
					justify-content: center
					padding: 10px
					span
						background: #FFC629
						width: 11px 
						height: 11px
					&.active
						span
							width: 21px
							height: 21px

			.owl-nav
				position: absolute
.section
	padding: 45px 0
	.title-wrap
		padding-left: 100px
		margin-bottom: 25px
	.title-head
		position: relative
		text-transform: uppercase
		&::before
			content: ''
			position: absolute
			width: 70px
			height: 70px
			border-radius: 50%
			background-color: $accent
			top: 50%
			left: -135px
			margin-top: -35px
.about
	.block
		padding: 15px 45px
		.title
			color: $accent
			font-weight: 500
			font-size: 26px
	.about_img
		border-top-left-radius: 5em
		border-bottom-left-radius: 5em
		overflow: hidden
		float: right
.rep
	.col-md-7, .col-md-5
		padding: 0
	.block-wrap
		text-align: right
	.block
		color: #fff
		padding: 35px
		border-top-left-radius: 15em
		border-bottom-left-radius: 15em
		margin-bottom: 15px
		display: inline-block
		text-align: left
		padding-left: 70px
		.title
			font-size: 66px
			font-weight: 600
			line-height: 55px
			margin-bottom: 25px
	.bgcol-1
		background-color: #D91F25E5
	.bgcol-2
		background-color: #F08143E5
		width: 80%
	.bgcol-3
		background-color: $accent
		width: 70%
		color: #000
	.rep_img
		border-top-left-radius: 5em
		overflow: hidden
		float: right
		width: 100%
.ads
	background-color: $accent
	color: $blue
	padding: 45px 0
	font-size: 22px
	font-weight: 700
	overflow: hidden
	p
		width: 70%
		float: left
	.btn
		width: 300px
		float: right
.service
	background-image: url('../img/bg_logo.png')
	background-repeat: no-repeat
	background-position: 100% 0
	background-size: contain
	.block-wrap
		width: 80%
		margin: 0 auto
		.block
			width: 30%
			aspect-ratio : 1 / 1
			margin: 15px
			padding: 25px
			background-color: $accent
			border-radius: 50%
			display: inline-block
			text-align: center
			vertical-align: middle
			.title
				text-transform: uppercase
				font-size: 24px
				margin-top: 55px