@import "bourbon/bourbon"

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: 'Montserrat'
	font-style: normal
	font-weight: 700
	font-size: 36px
	line-height: 44px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
ul,a,h1,h2,h3,h4,h5,li,p
	margin: 0
	padding: 0
a
	color: #061B38
	transition: all .3s ease
	&:hover, &:focus
		color: #FFFFFF
		text-decoration: none
ul
	list-style: none
.wrapper
	.header
		background-color: #FFC629
		.header_container
			margin: 0 50px
			.header_inner
				display: flex
				align-items: center
				justify-content: space-between
				padding: 6px 0
				position: relative
				.header_menu
					display: flex
					&>li
						a
							font-family: 'Oswald'
							font-style: normal
							font-weight: 400
							font-size: 24.1546px
							line-height: 36px
							margin: 0 28px
						&.active>ul 
							display: block

							
						&>ul
							display: none
							position: absolute
							background-color: #FFFFFF
							top: 100%
							max-width: 297px
							width: 100%
							z-index: 99

							&>li
								cursor: pointer
								&:hover
									background-color: #FFC629
									&>a 
										color: white

				.header_contact
					display: flex
					a
						position: relative
						font-family: 'Montserrat'
						font-style: normal
						font-weight: 500
						font-size: 18.1271px
						line-height: 22px
						margin: 0 17.5px
						img
							margin-right: 13px
				.header_networks
					a
						margin: 0 23px
	.banner
		.owl-carousel
			.item
				img
					border-radius: 0 0 0 150px
				
				&::before
						background: rgba(0, 0, 0, 0.33)    					
						background-repeat: no-repeat    					
						background-position: center center    					
						background-size: cover    					
						content: ""    					
						display: block    					
						width: 100%    					
						height: 100%    					
						position: absolute
				.banner_articles
					position: absolute
					z-index: 99
					width: -webkit-fill-available
					top: 0
					padding: 12% 11% 0 11%
					.banner_article_left
						h1
							font-family: 'Oswald'
							font-style: normal
							font-weight: 400
							font-size: 96px
							line-height: 114.7%
							color: #FFFFFF
							margin:  0 0 17px 0
						ul
							list-style: disc
							padding: 0 0 0 26px
							font-family: 'Montserrat'
							font-style: normal
							font-weight: 500
							font-size: 24.1546px
							line-height: 194.9%
							color: #FFFFFF
					.banner_articles_call_back
						position: relative
						h3
							font-family: 'Montserrat'
							font-style: normal
							font-weight: 700
							font-size: 36px
							line-height: 44px
							color: #FFFFFF
						.call_back
							position: absolute
							right: 0
							top: -200%
							.call_back_button
								font-family: 'Oswald'
								font-style: normal
								font-weight: 400
								font-size: 50px
								line-height: 115.7%
								text-align: center
								text-transform: uppercase
								color: #FFFFFF
								background: transparent
								border: 5.93633px solid #FFFFFF
								border-radius: 50%
								width: 367px
								height: 367px
								cursor: pointer
								&:hover
									&::before
										content: ""
										position: absolute
										width: 220px
										height: 40px
										background-image: url('../img/call_back_arrow.png')
										background-repeat: no-repeat
										left: -70%
										top: 45%


			.owl-dots
				position: absolute
				top:90%
				left: 45%
				right: 45%
				display: flex
				align-items: center
				justify-content: center
				.owl-dot
					display: flex
					align-content: center
					justify-content: center
					padding: 10px
					span
						background: #FFC629
						width: 11px 
						height: 11px
					&.active
						span
							width: 21px
							height: 21px

			.owl-nav
				position: absolute