// body
// 	font-family: $default-font
.page-wrap
    padding-top: 190px
.mainmenu-wrap 
    background-color: #fff
    color: #000
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)
    .header-wrap
        display: flex
        justify-content: space-between
        .logo-wrap
            margin-right: 15px
        .middle-wrap      
            width: 100%
            .line-wrap.top
                border-bottom: 1px solid #ccc
        .menu-wrap
            flex: 1
            ul
                display: flex
                flex-direction: row
                justify-content: space-between
                
                li
                    position: relative
                    a
                        color: #000
        .right-wrap
            display: flex
            flex-direction: row
            align-items: center
        .btn-link
            color: #000
        .search
            background-image: url(../img/icons/search-w.svg)
        .line-wrap
            display: flex
            flex-direction: row
            justify-content: space-between
            &.bottom 
                .right-wrap
                    flex: 1
                    justify-content: flex-end
.btn
    display: block
    padding: 10px 15px
    background-repeat: no-repeat
    background-color: #fc4c02
    border-radius: 5px
    color: #fff
    text-decoration: none
    transition: all .25s ease-in-out

.title
    font-size: 35px
.img
    margin-top: 60px
    margin-bottom: 40px
.text
    font-size: 18px
    .description
        width: 70%
    .block
        span
            font-weight: bold
        ul
            margin-top: 10px
        p
            margin-top: 10px

.articles
    .s-title
        font-size: 14px
        color: 
#000000